{% extends 'base.html.twig' %}

{% block content %}

    <div class="col-md-8">
        <div id="register" class="box">

            <a href="">Home</a>
            <hr/>

            <h2>Create your account</h2>

            {{ form(signup_form) }}

        </div>
    </div>
{% endblock %}

