{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <div id="game" class="box">

            <a href="">Home</a>
            <hr/>

            <h2>Guess the mysterious word</h2>

            <p class="attempts">
                You still have {{ max_attempts - game.attempts }} remaining attempts.
            </p>

            <ul class="word-letters">
                {% for word_letter in word_letters %}
                    {%  if game.isLetterFound(word_letter) %}
                        <li class="guessed">{{ word_letter }}</li>
                    {% else %}
                        <li class="not-guessed">?</li>
                    {% endif %}
                {% endfor %}
            </ul>

            <p class="attempts">
                <a href="">Reset the game</a>
            </p>

            <br class="clearfix"/>

            <h2>Try a letter</h2>

            <ul>
                {% for letter in 'A'..'Z' %}
                    <li class="letter btn">
                        <a href="{{ path('game_play_letter', {'letter' : letter}) }}">{{ letter }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h2>Try a word</h2>

            <form action="" method="post" class="form-inline">
                <div class="form-group">
                    <input name="word" class="form-control mb-2" placeholder="Word"/>
                </div>
                <button>Let me guess...</button>
            </form>
        </div>
        <div class="box">
            <div id="testimonials">
                <h2>Testimonials</h2>
                <ul>
                    <li><strong>John Doe</strong> "I love this game, so addictive!"</li>
                    <li><strong>Martin Durand</strong> "Best web application ever"</li>
                    <li><strong>Paula Smith</strong> "Awesomeness!"</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}